{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="auth-container">
    <h2>Criar Conta</h2>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Usuário" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control" name="password" placeholder="Senha" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control" name="confirmation" placeholder="Confirmar senha" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </form>
</div>
{% endblock %}